{% extends 'base.html.twig' %}

{% block title %}
 Crear Persona
{% endblock %}

{% block body %}
    <h3>
        Crear Persona
    </h3>
    {% set type = 'new' %}
    {{ include('app_entity_person/_form.html.twig') }}

{% endblock %}
